.orbit-container
  %ul.example-orbit.orbit-slides-container{"data-orbit" => ""}
    %li
      %img{alt: "slide 1", src: "/assets/backgroundhome.jpg"}/
      .orbit-caption
        Caption One.
    %li.active
      %img{alt: "slide 1", src: "/assets/backgroundhome.jpg"}/
      .orbit-caption
        
    %li
      %img{alt: "slide 2", src: "/assets/traveltwo.png"}/
      .orbit-caption
        Caption Three.
     
  
.span.transitions-enabled.large-centered.clearfix
  #container

    .box.col2 
      %img{src: "/assets/backpacker1.jpeg", style: "width:200px; height: 200px" }/

    .box.col2
      %img{src: "/assets/backpacker6.jpeg", style: "width:200px; height: 200px"}/
    .box.col2
      .flip
        .textcontainerflip{style: "width:400px; height: 270px"}
          .flip-front.flipfront400-270
            %h3 
              %i.fa.fa-globe &nbsp; Instantly find a place to stay anywhere
              %p Grog blossom spyglass marooned Sea Legs pirate me lookout quarterdeck Buccaneer killick. Hardtack bowsprit loot ahoy fathom me Cat o'nine tails Yellow Jack jury mast transom. 
          .flip-back.flipback400-270
            %p 
     
    .box.col2
      %img{src: "/assets/backpacker3.jpeg", style: "width:200px; height: 200px"}/
    .box.col2
      %img{src: "/assets/backpacker4.jpeg", style: "width:200px; height: 200px"}/
    .box.col2
      .flip
        .textcontainerflip{style: "width:400px; height:200px"}
          .flip-front.flipfront400-150
            %h3 
              %i.fa.fa-child &nbsp; Connect with your friends
              %p View their saved locations, checkins and photos through foursquare
          .flip-back.flipback400-150
            %p 


    .box.col2
      .flip
        .textcontainerflip{style: "width: 220px; height: 325px;"}
          .flip-front.flipfront200-350
            %h3 
              %i.fa.fa-camera &nbsp; See
            %li Hostels
            %li Attractions 
            %li Cheapest prices 
            %li Trends
            %li Checkins 
            %li Reviews
            %li Videos
            %li And much more!
          .flip-back.flipback200-350
            %p 
    .box.col2
      %img{src: "/assets/backpacker7.jpeg", style: "width:200px; height: 200px"}/
    .box.col2
      %img{src: "/assets/backpacker2.jpeg", style: "width:200px; height: 200px" }/
    .box.col2
      .signup-signin
        %h3.left
          .button.leftwelcome
            = link_to 'SignUp', new_user_registration_path
        %h3
          .button.rightwelcome
            = link_to 'Login', new_user_session_path
    .box.col2
      %img{src: "http://www.placehold.it/200x120"}/
    .box.col2
      .copyright
        @George Somerville Test Project WDI-London-2014
    .box.col2
      .smallblank
             
    