.orbit-container
  %ul.example-orbit.orbit-slides-container{"data-orbit" => ""}
    %li
      %img{alt: "slide 1", src: "/assets/backgroundhome.JPG"}/
      .orbit-caption
        Caption One.
    %li.active
      %img{alt: "slide 1", src: "/assets/backgroundhome.JPG"}/
      .orbit-caption
        Caption Two.
    %li
      %img{alt: "slide 1", src: "/assets/backgroundhome.JPG"}/
      .orbit-caption
        Caption Three.
  
.span.transitions-enabled.large-centered.clearfix
  #container
    .box.col2
      %img{src: "http://www.placehold.it/225x140"}/
    .box.col2
      %img{src: "http://www.placehold.it/210x160"}/
    .box.col2
      .flip
        .textcontainerflip{style: "width:360px; height: 320px"}
          .flip-front.flipfront360-320
            %p main image page  
          .flip-back.flipback360-320  
            %p doge
          
    .box.col2
      %img{src: "http://www.placehold.it/200x115"}/
    .box.col2
      %img{src: "http://www.placehold.it/200x150"}/
    .box.col2
      .flip
        .textcontainerflip{style: "width:400px; height:150px"}
          .flip-front.flipfront400-150
            %h3 find cheapest hotels near you
          .flip-back.flipback400-150
            %p dodge


    .box.col2
      .flip
        .textcontainerflip{style: "width: 200px; height: 350px;"}
          .flip-front.flipfront200-350
            %h3 use it with anything 
            %li hostels
            %li attractions 
            %li cheap
          .flip-back.flipback200-350
            %p dodge  
    .box.col2
      %img{src: "http://www.placehold.it/200x130"}/
    .box.col2
      %img{src: "http://www.placehold.it/200x130"}/
    .box.col2
      %img{src: "http://www.placehold.it/200x170"}/
    .box.col2
      %img{src: "http://www.placehold.it/200x140"}/
    .box.col2
      %img{src: "http://www.placehold.it/200x110"}/
    