.orbit-container
  %ul.example-orbit.orbit-slides-container{"data-orbit" => ""}
    %li
      %img{alt: "slide 1", src: "/assets/backgroundhome.jpg"}/
      .orbit-caption
        Caption One.
    %li.active
      %img{alt: "slide 1", src: "/assets/backgroundhome.jpg"}/
      .orbit-caption
        Caption Two.
    %li
      %img{alt: "slide 1", src: "/assets/backgroundhome.jpg"}/
      .orbit-caption
        Caption Three.
  
.span.transitions-enabled.large-centered.clearfix
  #container
    .box.col2 
      %img{src: "http:/assets/traveltwo.png" ,style:"width:255px; height:140px; "}/
    .box.col2
      %img{src: "http://www.placehold.it/210x160"}/
    .box.col2
      .flip
        .textcontainerflip{style: "width:360px; height: 320px"}
          .flip-front.flipfront360-320
            %h3 
              %i.fa.fa-globe &nbsp; instantly find a place to stay anywhere
              %p Grog blossom spyglass marooned Sea Legs pirate me lookout quarterdeck Buccaneer killick. Hardtack bowsprit loot ahoy fathom me Cat o'nine tails Yellow Jack jury mast transom. 
          .flip-back.flipback360-320  
            %p doge
          
    .box.col2
      %img{src: "http://www.placehold.it/200x115"}/
    .box.col2
      %img{src: "http://www.placehold.it/200x150"}/
    .box.col2
      .flip
        .textcontainerflip{style: "width:400px; height:150px"}
          .flip-front.flipfront400-150
            %h3 
              %i.fa.fa-child &nbsp; Connect with your friends
              %p view their saved locations, checkins, photos and see what there up to through four square
          .flip-back.flipback400-150
            %p dodge


    .box.col2
      .flip
        .textcontainerflip{style: "width: 200px; height: 350px;"}
          .flip-front.flipfront200-350
            %h3 
              %i.fa.fa-camera &nbsp; See
            %li Hostels
            %li Attractions 
            %li Cheapest prices 
            %li Trends
            %li Checkins 
            %li Reviews
            %li Videos
            %li And much more!
          .flip-back.flipback200-350
            %p dodge  
    .box.col2
      %img{src: "http://www.placehold.it/200x130"}/
    .box.col2
      %img{src: "http://www.placehold.it/200x130"}/
    .box.col2
      %img{src: "http://www.placehold.it/200x170"}/
    .box.col2
      %img{src: "http://www.placehold.it/200x140"}/
    .box.col2
      %img{src: "http://www.placehold.it/200x110"}/
    