.accordioncontainer{
  height:300px;
  overflow:scroll;
}

.pricing-table{
  height:200px;
  width:200px;

}

#headerbackground{
  height:650px;
  width:1000px;
  background-color: url(/assets/backgroundhome.JPG) !important;

}